<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Update</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/{id}/update(id=${userToShow.getId()})}" th:object="${userToShow}">

  <label for="name">Enter name: </label>
  <input type="text" th:field="*{name}" id="name"/>
  <br/>
  <label for="age">Enter age: </label>
  <input type="text" th:field="*{age}" id="age"/>
  <br/>
  <label for="email">Enter email: </label>
  <input type="text" th:field="*{email}" id="email"/>
  <br/>
  <input type="submit" value="Update!"/>
</form>

  <label>
    <input required="required" type="checkbox" name="listRoles" value="ROLE_USER"/>
  </label> USER
  <label>
    <input type="checkbox" name="listRoles" value="ROLE_ADMIN"/>
  </label> ADMIN
  <p>

    <input type="submit" value="Update!">
    <br/>
    <br/>
    <a href="/logout">Logout</a>
</form>

</body>
</html>